<header class="term">
  {%- include terminalNavigation.html %}
  <nav class="term-grid">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    {%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title and my_page.name != "notfound" -%}
    <span>
      <a class="term-nav dir" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape | downcase }}</a>
    </span>
    {%- endif -%}
    {%- endfor -%}
    {% for nav in site.nav %}
    <span>
      <a class="term-nav {{ nav.kind }}"
      href="{{ nav.href }}">{{ nav.name }}</a>
    </span>
    {% endfor %}
  </nav>
  {%- include terminalNavigation.html type="finalCommand" %}
</header>
<br>
<!-- <hr> -->
