@charset "utf-8";

$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$site-title-color:      $brand-color-dark !default;

$text-color:            #014421 !default;
$background-color:      rgb(171, 192, 182) !default;
$code-background-color: #eeeeff !default;

$link-base-color:       #2a7ae2 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;
$link-hover-color:      $text-color !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 37%) !default;
$table-border-color:    $border-color-01 !default;


.highlight {
  .c  {
    color: #998;
    font-style: italic;
  }
  .err   {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .k, .o  {
    font-weight: bold
  }
  .cm {
    color: #998;
    font-style: italic;
  }
  .cp {
    color: #999;
    font-weight: bold;
  }
  .c1 {
    color: #998;
    font-style: italic;
  }
  .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
  }
  .gd {
    color: #000;
    background-color: #fdd;
  }
  .gd .x {
    color: #000;
    background-color: #faa;
  }
  .ge {
    font-style: italic
  }
  .gr {
    color: #a00
  }
  .gh {
    color: #999;
  }
  .gi {
    color: #000;
    background-color: #dfd;
  }
  .gi .x {
    color: #000;
    background-color: #afa;
  }
  .go {
    color: #888
  }
  .gp {
    color: #555
  }
  .gs {
    font-weight: bold
  }
  .gu {
    color: #aaa
  }
  .gt {
    color: #a00
  }
  .kc, .kd, .kp, .kr, .kt {
    font-weight: bold
  }
  .kt {
    color: #458;
  }
  .s  {
    color: #d14
  }
  .nb {
    color: #0086B3;
  }
  .nc {
    color: #458;
    font-weight: bold;
  }
  .ni {
    color: #800080;
  }
  .ne, .nf {
    color: #900;
    font-weight: bold;
  }
  .nn {
    color: #555;
  }
  .nt {
    color: #000080;
  }
  .ow {
    font-weight: bold
  }
  .w  {
    color: #bbb;
  }
  .il, .m, .mf, .mh, .mi, .mo {
    color: #099;
  }
  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
    color: #d14
  }
  .sr {
    color: #009926;
  }
  .ss {
    color: #990073;
  }
  .bp {
    color: #999;
  }
  .na, .no, .nv, .vc, .vg, .vi {
    color: #008080;
  }
}
